.user{
    font: 10px "Open Sans";
    color: blue;
}
.btn{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}


.registr {
    border-color: #4CAF50;
    color: green;
    border-radius: 5px;
}

.registr:hover {
    background-color: #4CAF50;
    color: white;
    opacity:1;
    transition: 0.5s;
}

.signIn {
    border-color: #2196F3;
    color: dodgerblue;
}

.signIn:hover {
    background: #2196F3;
    color: white;
    opacity:1;
    transition: 0.5s;
}
.auth{
    border-color: #2196F3;
    color: chartreuse;
}
.auth:hover{
    background-color: aqua ;
    color: antiquewhite;
    opacity: 1;
    transition: 0.5s;
}

