.sidebar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    position: fixed;
    top: 0;
    z-index: 1;
}

.sidebar a{
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */

}
.sidebar a:hover{
    background-color: #000;
    transition: 0.3s;
    font-weight: 600;
    letter-spacing: 5px;
}

.sidebar a.home:hover {
    color: #000;
    transition: 0.3s;
}

.sidebar a.home {
    background-color: #4CAF50;
    border-color: antiquewhite;
}

@media screen and (max-width: 500px) {
    .sidebar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
        z-index: 0;
    }

}